notes.md
test_data/*
task_history.db
luigi-state.pickle
logs/
__pycache__
*/__pycache__/*
htmlcov/
.coverage
.cache/
.idea/
**/.cache/*
docs/
build/
**/.DS_store
.pytest_cache/
brainviewer/tests/data/*
!brainviewer/tests/data/__init__.py

